@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;700&display=swap');

html {
  scroll-behavior: smooth;
  background-color: rgb(240,240,240);
}

.App {
  font-family: 'Rubik';
}

.App-logo {
  margin-right: 30px;
  height: 80px;
}

.banner {
  background-image: url("https://www.accenture.com/_acnmedia/Thought-Leadership-Assets/Images/mainpage/accenture-sun-bg");
  background-position: center;
  background-size: cover;
  padding: 200px 0;
  height: calc(100vh - 400px);
  color: white;
  text-align: center;
}

.App-header {
  margin: auto 10px;
}

h1 {
  font-size: 80px;
}

.App-title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.App-subline {
  font-size: 50px;
  font-weight: lighter;
}

.header-caret {
  font-size: 60px;
  animation-name: bounce;
  animation-duration: 0.7s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.header-caret a {
  color: white;
}

@keyframes bounce {
  from {
    margin-top: 4%;
  }

  to {
    margin-top: 5%;
  }
}

.container {
  width: 90vw;
  margin: auto;
}

.profiles {
  margin-top: 150px;
  padding: 80px 0;
  position: relative;
  color: white;
  background-image: url("https://www.accenture.com/t00010101T000000Z__w__/gb-en/_acnmedia/Accenture/Redesign-Assets/DotCom/Images/Global/General/63/Accenture-A-Guide-To-Thrive-300x180.jpg");
  background-position: center;
  background-size: cover;
}

.profiles-text {
  width: 70%;
  margin: auto;
}

.profiles h2 {
  font-size: 45px;
  font-weight: normal
}

.profiles p {
  font-size: 20px;
}
.profiles-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#video {
  overflow: hidden;
  position: absolute;
  z-index: -1;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.profiles-caret {
  cursor: pointer;
  font-size: 50px;
  transition: all 1s;
}

@media (max-width: 768px) {
  h1 {
    font-size: 40px;
  }

  .App-logo {
    height: 40px;
  }

  .App-subline {
    font-size: 35px;
  }

  .badges {
    display: block;
  }

  .profiles {
    margin: 0;
    padding: 0 20px;
    min-height: 360px;
  }

  .profiles p {
    max-width: 80vw;
  }
}
