.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #6400a3;
  height: 70px;
  color: white;
  padding: 0 40px;
  font-size: 17px;
}

.links a {
  color: white;
  margin: 5px;
  font-size: 25px;
}

#scroll-up {
  margin-left: 30px;
}
