.badge {
  height: 300px;
  width: 300px;
  border-radius: 50%;
  color: white;
  font-size: 30px;
  box-shadow: 0px 0px 10px rgb(103, 103, 103);
  text-shadow: 0px 0px 5px rgb(200,200,200);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  background-size: cover;
  background-position: center;
  margin: auto;
  margin-top: 50px;
  cursor: pointer;
}

.badge h2 {
  font-weight: lighter;
}

.badge-row {
  display: flex;
  align-items: center;
}

.badge-row p {
  width: calc(90vw - 140px);
  padding-left: 20px;
  font-size: 20px;
}

.big-badge {
  position: relative;
  margin: 120px 0;
}

.badge-description {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  width: 300px;
  border-radius: 5px;
  margin-top: 20px;
  padding: 5px 10px;
}

.badge-description p {
  margin: 0;
  font-size: 20px;
  color: #6400a3;
  font-weight: lighter;
}

.badges {
  text-align: center;
  display: flex;
  justify-content: space-around;
}
